<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>All Blogs</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  <a href="/allblogs" class="btn btn-default btn-sm">All Blogs</a>
  <a href="/writeblog" class="btn btn-default btn-sm">Write a Blog</a>
  <h1>All Blogs</h1>

  <div>
    <ul>
      <% bloglist.forEach(function(blog) { %>
          <li>
              <% var url = '/displayblog?id='+blog._id%>
              <a href= <%= url%>><%= blog.title %></a>
            </li>
      <% }); %>
    </ul>
  </div>

</div>
</body>
</html>
